<div class="polling-container" data-controller="rush-job-polling">
  <div class="row align-items-center">
    <div class="col-3">
      <label for="rush-job-polling-range"
             class="polling-range-form-label-<%= invert_theme %>"
             data-rush-job-polling-target="pollingTimeLabel">
        <%= t :polling_time %> 13 <%= t :polling_time_unit %>
      </label>
      <input id="rush-job-polling-range"
             type="range"
             class="form-range"
             min="0"
             max="6"
             data-rush-job-polling-target="pollingTime"
             data-action="input->rush-job-polling#pollingChange">
      <div class="progress"
           role="progressbar"
           aria-label="polling progress"
           aria-valuenow="75"
           aria-valuemin="0"
           aria-valuemax="100"
           style="display: none;"
           data-rush-job-polling-target="progressBar">
        <div class="progress-bar w-75"></div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
        <input id="rush-job-polling"
               class="form-check-input"
               type="checkbox"
               role="switch"
               data-rush-job-polling-target="pollingSlide"
               data-action="input->rush-job-polling#pollingToggle">
        <label class="form-check-label-<%= invert_theme %>" for="rush-job-polling"><%= t :enable_polling %></label>
      </div>
    </div>
    <div class="col-3" data-controller="rush-job-reload-jobs-table">
      <button class="btn btn-primary" data-action="click->rush-job-reload-jobs-table#reloadJobs"><%= t :reload %></button>
    </div>
  </div>
</div>
