<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rush job</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_importmap_tags %>
  <%= javascript_import_module_tag "rush_job/application" %>

  <%= stylesheet_link_tag    "rush_job/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
