<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rush job</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_importmap_tags %>
  <%= javascript_import_module_tag "rush_job/application" %>

  <%= stylesheet_link_tag    "rush_job/application", media: "all" %>
</head>
<body class="background-color-<%= current_theme %>">
  <%= render 'layouts/rush_job/navbar' %>
  <div id="rush-job-flash-messages">
    <%= render 'layouts/rush_job/flash_messages' %>
  </div>

<%= yield %>

</body>
</html>
